*{
  margin: 0;
  padding: 0;
}

.main-background {
  background: repeating-radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 0, #262626 60px),
              repeating-linear-gradient(#1a1a1a, #00003d);
  opacity: 1;
  background-size: auto;
  background-repeat: repeat;
}
